div {
  padding:40px;
  font-family: Lato;
  color: rgb(50,50,50);
  font-size: 19px;
  line-height: 1.8;
}
h2 {
  font-size: 35px;
  font-weight: 900;
}
h4 {
  font-size:20px;
}
a {
  color: #F67E7E;
}
