---
layout: default
title: MODs Page - ChelOverboard.com
description:
pagination:
  enabled: true
---
<!-- Main Blog Container -->
<!-- <div class="container-fluid blog-container"> -->
  <div class="container-fluid games-page">
 <br>
  <section role="search" data-ss360="true">
    <input type="search" id="searchBox">
    <button id="searchButton"></button>
    </section>
  <!-- ChelOverboard Header -->
  <h1 style="font-family: Montserrat, sans-serif; text-align: center; font-weight: 700;"class="ChelOverboard"><font color=#3FD10E>Chel</font> <font color=#24BCF9>Overboard</font> <font color=rgba(0,0,0,1)>MODs</font></h1>
    <div class="mydownloadbox">
  <!-- <b class="downloadlinks">Sign up Today <span class="premiumlinks">Become a Member of ChelOverboard (Receive Updates from Us)</span>:<button type="button" class="btn btn-success" onclick="window.location.href = 'http://eepurl.com/gQ1lOf';">SIGN UP</button></b></li><br>
  <p>By subscribing , you receive emails and direct links to new MODs uploaded.We don’t spam your email. You receive only relevant emails. Thanks.</p></div>
  <p style="clear: both;"></p> --><br>
  <!-- Main Blog Row -->
  <!-- <div class="row" style="padding: 0px;"> -->
<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  {% unless post.path contains 'games' %}
<hr>
  <div class="row">
  <div class="col-lg-8 col-sm-8">
    <h4><a href="{{ post.url }}" class="game-title">{{ post.title }}</a></h4>
    <p>{{ post.excerpt | strip_html | strip_newlines | truncate: 208 }}</p>
    <p style="clear: both">{{ post.date | date: "%b %-d, %Y" }}</p>
  </div>

  <div class="col-lg-4 col-sm-4">
    <a href="{{ post.url }}">
    <img defer class="responsive p-2 bd-highlight borderaround" src="{{ post.img-src }}.webp" alt="{{ post.img-alt }}" width="330" height="200"></a>
  </div>
</div>
{% endunless %}
{% endfor %}
</div>
<div class="container">
{% if paginator.total_pages > 1 %}
<ul class="pager">


    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Previous</a>
    </li>
    {% endif %}

    {% if paginator.page_trail %}
      {% for trail in paginator.page_trail %}
        <li {% if page.url == trail.path %}class="selected"{% endif %}>
            <a href="{{ trail.path | prepend: site.baseurl | replace: '//', '/' }}" title="{{trail.title}}">{{ trail.num }}</a>
        </li>
      {% endfor %}
    {% endif %}

    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
</div>
<!-- Start of Site Search 360 script (put right before the closing </body> tag) -->
<script async type="text/javascript">
window.ss360Config = {
    tracking: {
        providers: []
    },
    siteId: "cheloverboard.netlify.app",
    allowCookies: false,
    style: {
        suggestions: {
            text: {
                color: "#333333"
            },
            background: {
                color: "#ffffff"
            },
            padding: "5px",
            distanceFromTop: "0px",
            border: {
                color: "#dddddd",
                radius: "0px"
            }
        },
        searchBox: {
            text: {
                color: "#333333",
                size: "14px"
            },
            background: {
                color: "#ffffff"
            },
            border: {
                color: "#dddddd",
                radius: "0px"
            },
            padding: "8px",
            icon: {
                image: "magnifier",
                color: "#666666"
            }
        }
    },
    showErrors: false
};

var e=document.createElement("script");
e.async=!0;
e.src="https://cdn.sitesearch360.com/v13/sitesearch360-v13.min.js";
document.getElementsByTagName("body")[0].appendChild(e);
</script>
<!-- End of Site Search 360 script -->
</div>
<p style="padding-top: 5%"></p>
