---
layout: default
title: MODs Page - ChelOverboard.com
description: ChelOveboard MODs Page. Get latest uploads on Simulation MODs for Free. Follow Our Social Media to keep up to date
pagination: 
  enabled: true
---
<!-- Main Blog Container -->
<div class="container-fluid blog-container">
  <div id="hits">
  <!-- Hits widget will appear here -->
  </div><br>
  <section role="search" data-ss360="true">
    <input type="search" id="searchBox">
    <button id="searchButton"></button>
    </section>
  <!-- ChelOverboard Header -->
  <h1 class="ChelOverboard"><font color=#3FD10E>Chel</font> <font color=#24BCF9>Overboard</font> <font color=rgba(0,0,0,1)>MODs</font></h1>
  <p style="clear: both;"></p><br>
  <!-- <div data-netlify-identity-menu class="user-log"></div> -->
  <!-- Main Blog Row -->
  <div class="row" style="padding: 0px;">
<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  {% unless post.path contains 'general' %}
  <!-- Main Blog Column -->
   <div class="col-lg-4 col-sm-12">
    <!-- Game MOD Enclosing Card -->
   <div class="card card-around-game" style="width: 19rem;">
    <!-- Elements to loop for all posts -->
    <a href="{{ post.url }}">
    <img defer class="responsive p-2 bd-highlight borderaround" src="{{ post.img-src }}.webp" alt="{{ post.img-alt }}" width="300" height="150"></a>
    <div class="card-block" style="padding: 0px">
    <h4><a href="{{ post.url }}"  class="blog-post-header">{{ post.title }}</a><hr></h4>{{ post.date | date: "%b %-d, %Y" }}<p style="clear: both"></p>
    {{ post.excerpt }}
    <p class="card-text">{{ post.category }}</p>
    <!-- End of Elements to loop for all posts -->
    </div>
    <!-- End of Card Block 2 -->
  </div>
  <!-- End of Game MOD Enclosing Card -->
  <br><br>
</div>
<!-- End of Blog Column -->
  {% endunless %}
{% endfor %}
</div>
<!-- End Of Row -->
</div>
<!-- End of Main Container -->
<div class="container">
{% if paginator.total_pages > 1 %}
<ul class="pager">
    

    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Previous</a>
    </li>
    {% endif %}

    {% if paginator.page_trail %}
      {% for trail in paginator.page_trail %}
        <li {% if page.url == trail.path %}class="selected"{% endif %}>
            <a href="{{ trail.path | prepend: site.baseurl | replace: '//', '/' }}" title="{{trail.title}}">{{ trail.num }}</a>
        </li>
      {% endfor %}
    {% endif %}

    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
</div>
<!-- Start of Site Search 360 script (put right before the closing </body> tag) -->
<script async type="text/javascript">
window.ss360Config = {
    tracking: {
        providers: []
    },
    siteId: "cheloverboard.netlify.app",
    allowCookies: false,
    style: {
        suggestions: {
            text: {
                color: "#333333"
            },
            background: {
                color: "#ffffff"
            },
            padding: "5px",
            distanceFromTop: "0px",
            border: {
                color: "#dddddd",
                radius: "0px"
            }
        },
        searchBox: {
            text: {
                color: "#333333",
                size: "14px"
            },
            background: {
                color: "#ffffff"
            },
            border: {
                color: "#dddddd",
                radius: "0px"
            },
            padding: "8px",
            icon: {
                image: "magnifier",
                color: "#666666"
            }
        }
    },
    showErrors: false
};

var e=document.createElement("script");
e.async=!0;
e.src="https://cdn.sitesearch360.com/v13/sitesearch360-v13.min.js";
document.getElementsByTagName("body")[0].appendChild(e);
</script>
<!-- End of Site Search 360 script -->
<p style="padding-top: 5%"></p>