---
layout: default
title: MODs Page - ChelOverboard.com
description: ChelOveboard MODs Page. Get latest uploads on Simulation MODs for Free. Follow Our Social Media to keep up to date
---

<!-- Main Blog Container -->
<div class="container-fluid blog-container">
  <!-- ChelOverboard Header -->
  <h1 class="ChelOverboard"><font color=#3FD10E>Chel</font> <font color=#24BCF9>Overboard</font> <font color=rgba(0,0,0,1)>MODs</font></h1>
  <p style="clear: both;"></p><br>
  <!-- Main Blog Row -->
  <div class="row" style="padding: 0px;">
  {% for post in site.posts %}
  <!-- Main Blog Column -->
   <div class="col-lg-4 col-sm-12">
    <!-- Game MOD Enclosing Card -->
   <div class="card card-around-game" style="width: 19rem;">
    <!-- Elements to loop for all posts -->
    <a href="{{ post.url }}">
    <img class="responsive p-2 bd-highlight borderaround" src="{{ post.img-src }}" alt="{{ post.img-alt }}" width="300" height="150"></a>
    <div class="card-block" style="padding: 0px">
    <h4><a href="{{ post.url }}"  class="blog-post-header">{{ post.title }}</a><hr></h4>{{ post.date | date: "%b %-d, %Y" }}<p style="clear: both"></p>
    {{ post.excerpt }}
    <p class="card-text">{{ post.category }}</p>
    <!-- End of Elements to loop for all posts -->
    </div>
    <!-- End of Card Block 2 -->
  </div>
  <!-- End of Game MOD Enclosing Card -->
  <br><br>
</div>
<!-- End of Blog Column -->
{% endfor %}
</div>
<!-- End Of Row -->
</div>
<!-- End of Main Container -->
<p style="padding-top: 5%"></p>

<!-- {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.last_page %}
    <li class="page-item"><a class="page-link" href="{{ paginator.last_page_path | prepend: site.baseurl }}"><em>{{ page }}</em></a></li>
    {% elsif page == 1 %}
    <li class="page-item"><a class="page-link" href="{{ paginator.first_page_path | prepend: site.baseurl }}">{{ page }}</a></li>
    {% else page == paginate.path > 1 %}
    <li class="page-item"><a class="page-link" href="{{ paginate.path | absolute_url | replace: ':num', page }}">{{ page }}</a></li>
    {% endif %}
  {% if paginator.next_page %}
  <li class="page-item">
    <a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Next</a>
  </li>
  {% endif %}
</ul>
{% endfor %}
</nav>
</div> -->