/*  Contact's Page Image Bg Css */
.responsive {
  width: 100%;
  height: auto;
  padding-top: 5px;
}

/*  Nav Bar CSS */

/*   Nav Bar CSS  */
.navbar-custom {
  background-color: #24BCF9;
  width: 100%;
  min-height: 8vh;
  margin: 0 auto;
  box-shadow: inset 0px 0px 40px 0px rgba(0,0,0,0.4),
    -5px 3px 20px 3px rgba(0, 0, 0, 0.7);
}
.navbar-custom div ul li a {
    color: black;
    font-weight: 700;
    font-size: 16px;
}
@media (max-width: 990px) {
  .navbar-custom {
    min-height: 46px;
    box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.4),
    -5px 0px 10px 3px rgba(0, 0, 0, 0.6);
  } 
}
.navbar-custom div ul li {
  margin-left: 30px;
}
.navbar-custom ul li:hover > a {
  opacity: 0.6;
}
@media (min-width: 979px) {
  ul li.dropdown:hover >    div.dropdown-menu {
    display: block;
}}
.navbar .dropdown-menu {
 margin-top: 0px;
}
.dropdown-toggle-angle::after {
  display: inline-block;
  padding: 0.5rem;
  font: normal normal normal 19px/0 FontAwesome;
  content: "\f107";
}
.dropdown-toggle-align::after {
  display: inline-block;
  padding: 0.5rem;
  font: normal normal normal 23px/1 FontAwesome;
  content: "\f036";
}
@media (max-width: 950px) {
  .navbar-custom ul li div:hover > a {
  border-bottom: 1px solid rgba(0,0,0,0.1)
    
 }}
ul li.dropdown div.dropdown-menu {
  border-radius: 0px;
  padding: 7px;
}

/*  Contact's Body Css */
body {
  font-weight: 600;
}

/*    Contact's Form CSS */
form {
  margin: 0px 0px 0px 80px;
  padding: 0px 60px 0px 0px;
  font-family: Lato;
  line-height: 35px;
}
label {
  font-size: 20px;
}
#newsletter {
  font-size: 18px;
  font-weight: 500;
}
.check {
  font-size: 11px;
  padding: 0px 0px 0px 10px;
}
.submit {
  margin: 0px 0px 0px -20px;
  padding-top: 15px;
}
.email {
  margin: 0px 0px 0px 70px;
  padding-top: 20px;
  font-family: Lato;
  padding: 20px 5px;
}
.myemail {
  font-size: 20px;
  margin: 0px 0px 0px 70px;
 font-family: Lato;
 padding: 20px 5px;
}




/* FOOTER'S CSS */
footer {
  font-family: Lato;
}
.face {
  font-size: 20px;
  color: white;
  letter-spacing: 20px;
  
}
div :hover > .face {
  color: white;
  transform: scale(1.1);
  transition: all .4s ease-in-out;
}
.weblinks {
  color: black;
  font-weight: 600;
  font-size: 18px;
}
