<br>
<h2 class="freedownloadlinks"> Welcome to Our free Downloads page</h2>
   <p class="ExplainAds">Please Note that you may be redirected as a result of our ads system. Luckily we also have a Premium Downloads which you can activate today for a small fee. You would be free to download as much as possible without seeing a single Ad.<br><br>
   Follow the steps to download games from ChelOverboard:</p>
   <ol class="stepstoload">
     <li>Visit the page of the game you would like to download</li>
     <li>Choose your preferred method of downloading either [Free/Premium]</li>
     <li>You would be redirected to where you can download your game immediately</li>
     <li>Proceed to download by clicking the download button and installing after it has completed</li>
     <p>Note : All Mods can only be installed if you don't have the original app from Google Play Store already installed</p></ol><hr>
   <about>* You are now about downloading {{ page.modname }} Mod Apk</about>
   <p class="finaldownload"><button onclick="window.location.href ='{{ page.link1 }}';">Download Now</button>
   <p class="finaldownload"><button onclick="window.location.href ='{{ page.link2 }}';">Mirror 2</button> 