<span class="mainheader1">Chel</span>
   <span class="mainheader2">Overboard</span><br>
   <!--Main container-->
<div class="container-fluid gamecont">

    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
    <div class="col-lg-9 col-md-12">  
   <p class="gamenameinpg">{{ page.modname }} Mod Hack Apk</p><hr>
      <p class="gamedate">BY CHEL ON {{ page.releasedate }}<p id="anime1"></p></p><hr>
      <div class="threerowimg">
  <div class="p-2 bd-highlight" style="display: inline-block;"><img src="../Animemods/gamePageImg/{{ page.image1 }}" width="200" height="300"/></div>
  <div class="p-2 bd-highlight" style="display: inline-block;"><img src="../Animemods/gamePageImg/{{ page.image2 }}" width="200" height="300"/></div>
  <div class="p-2 bd-highlight" style="display: inline-block;"><img src="../Animemods/gamePageImg/{{ page.image3 }}" width="200" height="300"/></div>
      </div>
      <p>{{ page.storycontent1 }}<br><br>
{{ page.storycontent2 }}<br><br>
{{ page.storycontent3 }}<br>
{{ page.storycontent4 }}<br><br>
{{ page.storycontent5 }}<br><br>
{{ page.storycontent6 }}<br>
{{ page.storycontent7 }}<br>
{{ page.storycontent8 }}<br>
{{ page.storycontent9 }}<br>
{{ page.storycontent10 }}<br>
{{ page.storycontent11 }}
</p>
      
  <p class="howtodownload"> Download {{ page.modname }} Mod Apk</p>
      <p>All files can be downloaded via direct links from the ChelOverboard servers. If the file is deleted or you have difficulty downloading, try disabling the ad blocker. If after disabling the AdBlocker, you can't try open link at new tab (long tap at button).</p>
  <div class="mydownloadbox">
  
  <b class="downloadlinks">DOWNLOAD LINK <span class="premiumlinks">[Free Link]</span>:<button type="button" class="btn btn-success" onclick="window.location.href = '../Animemods/downloads/{{ page.downloadId }}';">DOWNLOAD</button></b></li><br></div>
<h5 class="addinfo">Additional Information</h5>
 <div class="addcont">
   <ul>
      <li><img src="../../pictures/ZGirls.png" class="responsive" width="150" height="150"/></li></ul>
      <ul class="unordered2">
      <li>APK Name: {{ page.modname }}</li>
      <li>Developer: {{ page.developername }}</li>
      <li>Current Version: {{ page.version }}</li>
      <li>Requires Android: {{ page.androidversion }}</li>
      <li>{{ page.installs }} installs</li>
      <li><a href="https://play.google.com/store/apps/details?id=com.xingjoys.zgirls.gp">Google Play Link</a></li>
    </ul>
 </div> 
 </div>
  <!--Grid column-->
      
  </div>
  <!--Grid Row-->
  
 </div>
   <!--Main Container-->
<p style="clear: left;"></p>