<head>
 
 <!-- favicons -->
<link rel="shortcut icon" href="/assets/images/iconified/apple-touch-icon-120x120" type="image/x-icon" />
  <link rel="apple-touch-icon" href="/assets/images/iconified/apple-touch-icon.png" />
  <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/iconified/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/iconified/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/iconified/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/iconified/apple-touch-icon-152x152.png" />
<meta itemprop="description" name="description" content="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}" />
<meta content="width=device-width, initial-scale=1" name="viewport">
 {% feed_meta %}
 {% seo %}
 <meta charset="utf-8">
 <title>{{ page.title }}</title>
 <link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}">
 <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
 <meta name="google-site-verification" content="TuE8sPnbueCfOczBxPrBYyQ5cUEY2he1KVRg94yiS1E" />
 <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
 <link href="https://fonts.googleapis.com/css?family=Rubik|Roboto+Mono|Balsamiq+Sans&display=swap" rel="stylesheet">
 <!-- Global site tag (gtag.js) - Google Analytics -->
 <script async src="https://www.googletagmanager.com/gtag/js?id=UA-158076637-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-158076637-1');
</script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
<!-- Hotjar Tracking Code for https://cheloverboard.netlify.com/ -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1694485,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
 <!-- Google Adsense  -->
  <script data-ad-client="ca-pub-3206299196679214" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- End of Google Adsense --> 
  <!-- InstantSearch.js for Algolia -->
<script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.0.0/dist/algoliasearch-lite.umd.js" integrity="sha256-MfeKq2Aw9VAkaE9Caes2NOxQf6vUa8Av0JqcUXUGkd0=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.0.0/dist/instantsearch.production.min.js" integrity="sha256-6S7q0JJs/Kx4kb/fv0oMjS855QTz5Rc2hh9AkIUjUsk=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@7.3.1/themes/algolia-min.css" integrity="sha256-HB49n/BZjuqiCtQQf49OdZn63XuKFaxcIHWf0HNKte8=" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>
<script type="text/javascript" src="/assets/js/first.js"></script>
 </head>