<head>
<meta itemprop="description" name="description" content="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}" />
<meta content="width=device-width, initial-scale=1" name="viewport">
 {% seo %}
 <meta charset="utf-8">
 <title>{{ page.title }}</title>
<meta name="keywords" content="[mod games,anime,vipmods.net,geniusinc,japanese games,premium choices unlocked]"/>
 <style type="text/css">body{color:#202020}</style>
 <link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}" onload="this.media='all'; this.onload=null;">
 <!-- <meta name="google-site-verification" content="TuE8sPnbueCfOczBxPrBYyQ5cUEY2he1KVRg94yiS1E" /> -->
 <!-- Global site tag (gtag.js) - Google Analytics -->
 <script src="https://www.googletagmanager.com/gtag/js?id=UA-158076637-1" defer></script>
<script defer>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-158076637-1');
</script>
 <link rel="stylesheet" href="/assets/css/packages/styles/default.css">
 <script src="/assets/css/packages/highlight.pack.js" defer></script>
 <script defer>hljs.initHighlightingOnLoad();</script>
<script defer id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/509507bd0d5025ffe4ea232c8/dd35234d47c362f5b84611aef.js");</script>
<script data-ad-client="ca-pub-3206299196679214" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" defer></script> 
</head>