<head><!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-158076637-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-158076637-1');
</script>
<!-- Google Adsense  -->
  <script data-ad-client="ca-pub-3206299196679214" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- End of Google Adsense -->

  <!-- Hotjar Tracking Code for https://cheloverboard.netlify.com/ -->
 <script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1694485,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
 </script>
 <!-- favicons -->
<link rel="shortcut icon" href="/assets/images/iconified/apple-touch-icon-120x120" type="image/x-icon" />
  <link rel="apple-touch-icon" href="/assets/images/iconified/apple-touch-icon.png" />
  <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/iconified/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/iconified/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/iconified/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/iconified/apple-touch-icon-152x152.png" />
<meta itemprop="description" name="description" content="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}" />
<meta content="width=device-width, initial-scale=1" name="viewport">
 {% feed_meta %}
 {% seo %}
 <meta charset="utf-8">
 <title>{{ page.title }}</title>
 <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Rubik|Roboto+Mono|Balsamiq+Sans&display=swap" rel="stylesheet"> 
 <link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}">
 <meta name="google-site-verification" content="TuE8sPnbueCfOczBxPrBYyQ5cUEY2he1KVRg94yiS1E" />
 </head>