<nav class="navbar navbar-expand-lg navbar-custom fixed-top">

  <!-- Navbar brand -->
  <a class="navbar-brand" href="#"><img src="../../pictures/CHELOVERBOARD _thumbnail.png" width="80" height="80" alt="ChelOverboard"></a>

  <!-- Collapse button -->
   <button class="navbar-toggler dropdown-toggle-align" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav" style="color:black;">

    <!-- Links -->
    <ul class="navbar-nav mr-auto waves-effect waves-light">
      <li class="nav-item active">
        <a class="nav-link" href="/">HOME
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../../blog">BLOG</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../../resources">RESOURCES</a>
      </li>
     <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle-angle" href="#" id="navbarDropdownMenuLink"data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">SERVICEs</a>
        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="../../services/web-development">Web Development</a>
        
        </div>
      </li>
      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle-angle" href="#" id="navbarDropdownMenuLink"data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">MODs</a>
        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="../../game-mod">GAME MODs</a>
          <a class="dropdown-item" href="../../anime">SIMULATION MODs</a>
          <a class="dropdown-item" href="../../anime-comics">ANIME COMICS FREE</a>
          <a class="dropdown-item" href="../../misc/reachUs">REQUEST MODs Here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../../contact">ABOUT</a>
      </li>

    </ul>
    <!-- Links -->
  </div>
  <!-- Collapsible content -->

</nav>