<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
    {% include head.html %}
  <body>
    {% include navigation.html %}
    {{ content }}
    {% include footer.html %}
  <script defer>(function(t,e,s,o){var n,c,l;t.SMCX=t.SMCX||[],e.getElementById(o)||(n=e.getElementsByTagName(s),c=n[n.length-1],l=e.createElement(s),l.type="text/javascript",l.async=!0,l.id=o,l.src="https://widget.surveymonkey.com/collect/website/js/tRaiETqnLgj758hTBazgdxHiH0qYKnJUz1EN9evv2wZVCSjU95_2B2ZpS6v8zZ0H_2F5.js",c.parentNode.insertBefore(l,c))})(window,document,"script","smcx-sdk");</script>
  </body>
</html>