<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
    {% include head.html %}
  <body>
    {% include navigation.html %}
    {{ content }}
    {% include footer.html %}
  <!-- Start of Site Search 360 script (put right before the closing </body> tag) -->
<script type="text/javascript">
window.ss360Config = {
    style: {
        themeColor: "#24BCF9",
        suggestions: {
            text: {
                color: "#333333"
            },
            background: {
                color: "#ffffff"
            },
            padding: "10px",
            distanceFromTop: "7px",
            border: {
                color: "#dddddd",
                radius: "7px"
            }
        },
        searchBox: {
            text: {
                color: "#333333",
                size: "14px"
            },
            background: {
                color: "#ffffff"
            },
            border: {
                color: "#dddddd",
                radius: "7px"
            },
            padding: "10px",
            icon: {
                image: "magnifier",
                color: "#666666"
            },
            button: {
                text: "Search",
                color: "#666666"
            }
        },
        animationSpeed: 500
    },
    searchBox: {
        searchButton: "#searchButton"
    },
    tracking: {
        providers: [
            "GA"
        ]
    },
    layout: {
        mobile: {
            showUrl: true
        },
        desktop: {
            showUrl: true
        }
    },
    siteId: "cheloverboard.netlify.app",
    showErrors: false
};

var e=document.createElement("script");
e.async=!0;
e.src="https://cdn.sitesearch360.com/v13/sitesearch360-v13.min.js";
document.getElementsByTagName("body")[0].appendChild(e);
</script>
<!-- End of Site Search 360 script -->
<script type="text/javascript">
function downloadJSAtOnload() {
var element = document.createElement("script");
element.src = "defer.js";
document.body.appendChild(element);
}
if (window.addEventListener)
window.addEventListener("load", downloadJSAtOnload, false);
else if (window.attachEvent)
window.attachEvent("onload", downloadJSAtOnload);
else window.onload = downloadJSAtOnload;
</script>
  </body>
</html>