<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
    {% include head.html %}
  <body>
    {% include navigation.html %}
    {{ content }}
    {% include footer.html %}
  <!-- Start of Site Search 360 script (put right before the closing </body> tag) -->
<script async type="text/javascript">
window.ss360Config = {
    tracking: {
        providers: []
    },
    siteId: "cheloverboard.netlify.app",
    allowCookies: false,
    style: {
        suggestions: {
            text: {
                color: "#333333"
            },
            background: {
                color: "#ffffff"
            },
            padding: "5px",
            distanceFromTop: "0px",
            border: {
                color: "#dddddd",
                radius: "0px"
            }
        },
        searchBox: {
            text: {
                color: "#333333",
                size: "14px"
            },
            background: {
                color: "#ffffff"
            },
            border: {
                color: "#dddddd",
                radius: "0px"
            },
            padding: "8px",
            icon: {
                image: "magnifier",
                color: "#666666"
            }
        }
    },
    showErrors: false
};

var e=document.createElement("script");
e.async=!0;
e.src="https://cdn.sitesearch360.com/v13/sitesearch360-v13.min.js";
document.getElementsByTagName("body")[0].appendChild(e);
</script>
<!-- End of Site Search 360 script -->
  </body>
</html>