---
layout: default
---
   <!--Main container-->
<div class="container-fluid gamecont">

    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
    <div class="col-lg-9 col-md-12">
    <h1 class="ChelOverboard"><font color=#3FD10E>Chel</font> <font color=#24BCF9>Overboard</font> <font color=rgba(0,0,0,1)>MODs</font></h1>
  <p style="clear: both;"></p><br>
<h1 class="post-header">{{ page.title }}</h1>
<p>
  {% assign author = site.authors | where: 'short_name', page.author | first %}
  {% if author %}
  <hr>
    - By <a href="{{ author.url }}">{{ author.name }}</a> on {{ page.date | date_to_string }}
  {% endif %}<p style="clear: left;"></p>
  {% include game-body.html %}
</p>

</div>
<!-- End of column -->

</div>
<!-- End of Row -->
{% if page.comments %} 
<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
this.page.url = post.url;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = post.title; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://cheloverboard.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{% endif %} 
</div>
<!-- End of Main Container -->

