---
layout: default
pagination: 
  enabled: true
---
   <!--Main container-->
<div class="container-fluid gamecont">

    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
    <div class="col-lg-9 col-md-12">
    <h1 class="ChelOverboard"><font color=#3FD10E>Chel</font> <font color=#24BCF9>Overboard</font> <font color=rgba(0,0,0,1)>MODs</font></h1>
  <p style="clear: both;"></p><br>
<h1 class="post-header">{{ page.title }}</h1>
<p>
  {% assign author = site.authors | where: 'short_name', page.author | first %}
  {% if author %}
  <hr>
    - By <a href="{{ author.url }}">{{ author.name }}</a> on {{ page.date | date_to_string }}
  {% endif %}<p style="clear: left;"></p>
</p>
{% include game-body.html %}
</div>
  <div class="mydownloadbox">
  <b class="downloadlinks">Sign up Today <span class="premiumlinks">Become a Member of ChelOverboard (Receive Updates from Us)</span>:<button type="button" class="btn btn-success" onclick="window.location.href = 'http://eepurl.com/gQ1lOf';">SIGN UP</button></b></li><br>
  <p>By subscribing , you receive emails and direct links to new MODs uploaded.We don’t spam your email. You receive only relevant emails. Thanks.</p></div>
<!-- End of First Column -->
<div class="col-lg-5 col-sm-12">
<h2 class="ChelOverboard"><font color=#3FD10E>Other</font> <font color=rgba(0,0,0,1)>MODs</font> <font color=#24BCF9>to Try</font></h2>
<p style="padding-top: 2%"></p>
<div id="carouselExampleFade" class="carousel slide carousel-fade my-carousel" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="card card-around-game" style="width: 19rem;">
    <!-- Elements to loop for all posts -->
    <a href="{{ item.url }}">
    <img defer class="responsive p-2 bd-highlight borderaround" src="../assets\images\MODs\beherhero.webp" alt="{{ item.alt }}" width="300" height="150"></a>
    <div class="card-block" style="padding: 0px">
    <h4><a href="{{ item.url }}"  class="blog-post-header">{{ item.title }}</a><hr></h4>{{ post.date | date: "%b %-d, %Y" }}<p style="clear: both"></p>
    <!-- End of Elements to loop for all posts -->
    </div>
    <!-- End of Card Block 2 -->
  </div>
  <!-- End of Game MOD Enclosing Card -->
  </div>
  <!-- End of Carousel Item -->
    {% for post in site.posts %}
    <div class="carousel-item">
    <div class="card card-around-game" style="width: 19rem;">
    <!-- Elements to loop for all posts -->
    <a href="{{ post.url }}">
    <img defer class="responsive p-2 bd-highlight borderaround" src="{{ post.img-src }}.webp" alt="{{ post.img-alt }}" width="300" height="150"></a>
    <div class="card-block" style="padding: 0px">
    <h4><a href="{{ post.url }}"  class="blog-post-header">{{ post.title }}</a><hr></h4>{{ post.date | date: "%b %-d, %Y" }}<p style="clear: both"></p>
    <!-- End of Elements to loop for all posts -->
    </div>
    <!-- End of Card Block 2 -->
  </div>
  <!-- End of Game MOD Enclosing Card -->
  </div>
  <!-- End of Carousel Item -->
     {% endfor %}
</div>
<!-- End of Carousel Inner -->
 <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!-- End of Carousel Data ride -->
</div>
<!-- End of First Carousel Column -->

<!-- Start of Second Carousel Column -->
<div class="col-lg-5 col-sm-12">
<h2>...</h2>
<p style="padding-top: 2%"></p>
<div id="carouselExampleFade" class="carousel slide carousel-fade my-carousel" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="card card-around-game" style="width: 19rem;">
    <!-- Elements to loop for all posts -->
    <a href="{{ item.url }}">
    <img class="responsive p-2 bd-highlight borderaround" src="../assets\images\MODs\otakulikeme.webp" alt="{{ item.alt }}" width="300" height="150"></a>
    <div class="card-block" style="padding: 0px">
    <h4><a href="{{ item.url }}"  class="blog-post-header">{{ item.title }}</a><hr></h4>{{ post.date | date: "%b %-d, %Y" }}<p style="clear: both"></p>
    <!-- End of Elements to loop for all posts -->
    </div>
    <!-- End of Card Block 2 -->
  </div>
  <!-- End of Game MOD Enclosing Card -->
  </div>
  <!-- End of Carousel Item -->
    {% for post in site.posts reversed %}
    <div class="carousel-item">
    <div class="card card-around-game" style="width: 19rem;">
    <!-- Elements to loop for all posts -->
    <a href="{{ post.url }}">
    <img class="responsive p-2 bd-highlight borderaround" src="{{ post.img-src }}.webp" alt="{{ post.img-alt }}" width="300" height="150"></a>
    <div class="card-block" style="padding: 0px">
    <h4><a href="{{ post.url }}"  class="blog-post-header">{{ post.title }}</a><hr></h4>{{ post.date | date: "%b %-d, %Y" }}<p style="clear: both"></p>
    <!-- End of Elements to loop for all posts -->
    </div>
    <!-- End of Card Block 2 -->
  </div>
  <!-- End of Game MOD Enclosing Card -->
  </div>
  <!-- End of Carousel Item -->
    {% endfor %}
</div>
<!-- End of Carousel Inner -->
 <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!-- End of Carousel Data ride -->
</div>
<!-- End of Second Carousel Column -->


</div>

<p style="padding-top: 5%;"></p>

<div class="paypal-donate">
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick" />
<input type="hidden" name="hosted_button_id" value="94MDDJETBUJYE" />
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
<img alt="" border="0" src="https://www.paypal.com/en_NG/i/scr/pixel.gif" width="1" height="1" />
</form>
</div>
{% if page.comments %} 
<div id="disqus_thread"></div>
<script async>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
this.page.url = post.url;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = post.title; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://cheloverboard.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{% endif %} 

</div>
<!-- End of Row -->
</div>
<!-- End of Main Container -->


